/* 1 Basic styles
// ------------------------------------------------------------------------ */

* {
    margin: 0;
}

html, body {
    height: 100%;
}

/* .page-wrap {
    min-height: 100%;
}

.page-wrap:after {
    display: block;
} */
.no-margin {
    margin: 0px;
}
.no-padding{
    padding: 0px;
}
.no-padding-left {
    padding-left: 0px;
}
.no-border {
  border-top: none;
}

.margin-70{
  margin: 70px;
}



body {
    font-family: 'Varela Round', sans-serif;
}

/* 2 Header
// ------------------------------------------------------------------------ */

.header--home {
    background: #ff9e19;
    height: 60px;
    border-radius: 0 0 80px 80px;
}

.header--wilayah {
    position: relative;
    background: #ff9e19;
    height: 60px;
    border-radius: 0;
}

.header__logo {
    position: relative;
    z-index: 99;
}

.header__logo > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* 3 Page styles
// ------------------------------------------------------------------------ */
#map-canvas{
    width: 100%;
    height: 200px;
}

.judul-rencana {
    width: 100%;
    height: 50px;
    background: #ffc526;
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

.judul-tempat {
    width: 100%;
    height: 50px;
    background: #ffc526;
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

.judul-penginapan {
    width: 100%;
    height: 50px;
    background: #ffc526;
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

.isi-tempat {
    border-bottom: 3px solid #ffc526;
    margin-top: 10px;
}

.isi-tempat ul li {
    list-style: none;
}

.isi-tempat ul li a {
    color: #000;
    text-decoration: none;
}

.isi-tempat ul li a:hover {
    color: #ffc526;
    text-decoration: none;
}

.isi-rencana {
    margin-top: 10px;
}

.isi-rencana ul li {
    list-style: none;
}

.isi-rencana ul li a {
    color: #000;
    text-decoration: none;
}

.isi-rencana ul li a:hover {
    color: #ffc526;
    text-decoration: none;
}



.content__site-quote {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'SciFly Sans', sans-serif;
}

.content__site-label {
    font-size: 12px;
}

.content__search-input {
    
}

.input-home {
    width: 300px;
}

.input-wilayah {
    top: 10px;
    left: 40px;
    width: 250px;
}

.input-group .form-control {
    position: static;
}

.input-lg-home, .input-md-wilayah {
    padding-left:30px;
    border-radius: 0 40px;
    border: 3px solid #ffc526;
    
}

.input-lg-home:hover, .input-lg-wil:active {
    border-color: #E0A60E;
    box-shadow: none;
}

.input-search {
    position: absolute;
    right: 0;
    top: -15px;
    bottom: -10px;
}

.btn-custom1 {
    position: relative;
    left: -10px;
    font-size: 48px;
    background-color: #ffc526;
    border-color: #ffc526;
    width: 80px;
    height: 80px;
    border-radius: 50px 50px 50px 50px;
    border: none;
}

.btn-custom2 {
    position: relative;
    top: 8px;
    left: -10px;
    font-size: 32px;
    background-color: #ffc526;
    border-color: #ffc526;
    width: 50px;
    height: 50px;
    border-radius: 30px 30px 30px 30px;
    border: none;
}

.btn-custom1:hover {
    background: #E0A60E;
}

.glyphicon-search-home {
    font-size: 40px;
}

.glyphicon-search-wilayah {
    font-size: 24px;
}

.dropdown-search {
    left: 10%;
    border-radius: 0px;
    margin: 0 0 0;
    min-width: 88%;
}

.dropdown-search > li > a:hover {
    background-color: #ffc526;
    color: #fff;
}

.left-sidebar {
    position: absolute;
    height: 100%;
    background-color:#fff;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: none;
}

.left-sidebar.active, .right-sidebar.active {
    -webkit-transition: width .5s ease;
    -webkit-transform: translateX(0);
    display: block;
}

.left-sidebar__top {
    overflow-y: auto;
    height: 90%;
    bottom: 45px;
}

.left-sidebar__bottom {
    left: 0;
    right: 0;
    bottom: 0; 
    padding: 0;
    position: absolute;
    border-top: solid 1px #ffc526;
    border-radius: 0;
    background-color: #fff;
}

.right-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color:#fff;
    overflow-y: auto;
    display: none;
}

.toggle-btn-left {
    top: 40%;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 0;
}

.toggle-btn-left.active {
    -webkit-transition: width .5s ease;
}

.toggle-btn-right {
    top: 40%;
    right: 0;
    width: 50px;
    height: 60px;
    position: absolute;
    z-index: 0;
}

.toggle-btn-right.active {
    -webkit-transition: width .5s ease;
}

.map-content {
   position: relative;
}

.btn-sidebar {
    border: 1px solid #fff;
    border-radius: 0;
    background-color: #ffc526;
    color: #fff;
}

.fixed-search {
    width: 100%;    
}

.fixed-search input {
    border: 0;
    box-shadow: none;
}

.fixed-search button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #ffc526;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ffc526;
}

.fixed-search button:hover {
    border: 0;
    box-shadow: none;
    color: #ffc526;
    background-color: #fff;
    border-left: solid 1px #ffc526;
}

.fixed-search .glyphicon-search {
    font-size: 23px;
}

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #ffe9ab;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #ffc526;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

.dest {
    padding-left: 0;
}
.dest-list {
    list-style: none;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffe9ab;
}

.dest-title:hover {
    text-decoration: none;
    color: #ff9e19;
}

.dest-title {
    color: #000;
    font-size: 16px;
}

.dest-star {
    font-size: 18px;
    color: #ff9e19;
}

/***** Star Rating *****/
.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
.tab-img > img {
    width: 120px;
    height: 80px;
}

.tab-img2 > img {
    width: 100px;
    height: 60px;
}

/*  bhoechie tab */
.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 0px;
  -moz-border-radius: 0px;
  border-bottom:1px solid #ffe9ab;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  position: relative;
}

.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.bhoechie-tab-menu .list-group{
  margin-bottom: 0;
}

.bhoechie-tab-menu .list-group>a{
  margin-bottom: 0;
  height: 90px;
}

.bhoechie-tab-menu .list-group>a .glyphicon,
.bhoechie-tab-menu .list-group>a .fa {
  color: #ffc526;
}

.bhoechie-tab-menu .list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top: 1px solid #ffe9ab;
  border-right: 1px solid #ffe9ab;
  border-left: none;
  border-bottom: none;
}

.bhoechie-tab-menu .list-group>a:last-child{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-top: 1px solid #ffe9ab;
  border-right: 1px solid #ffe9ab;
}

.bhoechie-tab-menu .list-group>a.active,
.bhoechie-tab-menu .list-group>a.active .glyphicon,
.bhoechie-tab-menu .list-group>a.active .fa{
  background-color: #ffc526;
  color: #ffffff;
  border: none;
  border-radius: 0;
}

.bhoechie-tab-menu .list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #ffc526;
}

.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

.bhoechie-tab .bhoechie-tab-content:not(.active){
  display: none;
}

.list-group-item {
    padding: 10px 5px;
}

.nav-user {
    right :10%;
    top: 8px;
    position:absolute;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#ff9e19;
}

.nav-user>li>a {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-user {
    background:#ff9e19;
    border:2px solid #fff;
    width:160px;    
}
.menu-user>li>a {
    color:#ff9e19;
}
.dropdown-user ul.menu-user {
    border-radius:0;
    box-shadow:none;
    margin-top:20px;
    margin-left: -25px;
    width:200px;
}
.dropdown-user ul.menu-user:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown-user ul.menu-user:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}


.btn-transit, .calendar-custom, .price-custom {
    border-radius: 0;
    border: 1px solid #ffc526;
    width: 100%;
}

.btn-transit:hover {
    background-color: #fff;
    border: 1px solid #ffc526;
}

.list-transit:hover {
    color: #ffc526;
}

.label-custom {
    font-weight: 400;
}

.dropdown-start {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    border: 1px solid #ffc526;
}

.planner {
    position: relative;
    overflow-y: auto;
    padding-top: 0;
    height: 100%;
}

.planner-title {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #ffc526;
    color: #fff;
    
}
.plan-title {
    font-size: 14px;
    margin-bottom: 5px;
}

.jarak, .waktu {
    font-size: 12px;
    margin-bottom: 0;
}

.plan-price {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 800;
}

.plan-delete {
    margin-top: 12px;
}

.plan-delete > a {
    color: #ff9e19;
}

.btn-plan {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right-color: #ff9e19;
    background-color: #ff9e19;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    width: 100%;
}

.btn-plan:hover, .btn-pilih:hover {
    background-color: #ffc526;
    border-right-color: #fff;
    color: #fff;
}

.btn-pilih {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
    background-color: #ff9e19;
    color: #fff;
    width: 100%;
}

.pilih-custom {
    width: 60%;
}

.panel-custom {
  border-radius: 0;
  border: 1px solid #ffc526;
  margin-top: 25%;
}

.panel-custom2 {
  border-radius: 0;
  border: 1px solid #ffc526;
}

.panel-head-custom {
  border-radius: 0;
  
}

.panel-default > .panel-head-custom {
  background-color: #fff;
  border-color: #ff9e19;
}

.panel-default > .panel-head-custom a {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

.panel-default > .panel-head-custom a:hover,  .panel-default > .panel-head-custom a:focus{
  text-decoration: none;
}

.panel-default > .panel-head-custom a.active {
  color: #ff9e19;
}

.addon-custom {
  background-color: #fff;
  border: 1px solid #ff9e19;
  border-radius: 0;
  color: #ff9e19;
}

.form-custom {
  border-radius: 0;
  border: 1px solid #ff9e19;
}

.form-custom:focus {
  border: 1px solid #ff9e19;
  box-shadow: none;
}

.btn-login, .btn-register, .btn-admin {
  border-radius: 0;
  border: 1px solid #ff9e19;
  background-color: #ff9e19;
  color: #fff;
}

.btn-login:hover, .btn-register:hover, .btn-admin:hover {
  border-radius: 0;
  border: 1px solid #ff9e19;
  background-color: #fff;
  color: #ff9e19;
}

.link-custom {
  color: #000;
}

.link-custom:hover {
  color: #ff9e19;
  text-decoration: none;
}

.admin-content {
  padding-top: 20px;
}

.form-admin {
  background-color: #fff;
  padding-top: 25px;
}

.modal-custom {
  border-radius: 0;
}

.modal-custom > .modal-header {
  border-bottom: 1px solid #ffc526;
}

.modal-title {
  color: #ff9e19;
  
}

.admin-title {
  height: 50px;
  border-bottom: 1px solid #ff9e19;
}

.admin-meta {
  margin-top: 0;
  font-size: 28px;
  margin-bottom: 0;
}

.btn-admin-option {
  border-radius: 0;
  border: 1px solid #ff9e19;
  background-color: #fff;
  color: #ff9e19;
}

.btn-admin-option:hover {
  border-radius: 0;
  border: 1px solid #ff9e19;
  background-color: #ff9e19;
  color: #fff;
}

/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 30px 0 30px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 150px;
  height: 100px
}
/* End carousel */

.main-photo > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 300px;
}

.description-item {
  margin-bottom: 20px;
}

.detail-bottom {
  border-bottom: 2px solid #ffc526;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.panel-heading:hover {
    cursor:pointer;
}

.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.side-tab:hover {
    cursor: pointer;
}

.panel.panel-default.panel-user {
    border: none;
    box-shadow: none !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
}

.panel-user__head {
    border: none;
    border-radius: 0;
    background-color: #ffe7a6;

}

.panel-user__body {
    border: 1px solid #ffe7a6;
    border-radius: 0;
    background-color: #fff;
}

.panel-user__title {
    font-weight: 400;
    color: #000;
}
/* 4 Footer
// ------------------------------------------------------------------------ */

footer {
	background: #ff9e19;
	height: 60px;
    border-radius: 80px 80px 0 0;
}

.site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 20px;
}